@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
html {
	font-size: 28px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	font-family: 'Dongle', sans-serif;
	color: #606d74;
}

.links {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	position: fixed;
	top: 1rem;
	left: 1rem;
}

.links a {
	font-size: 1rem;
	text-decoration: none;
	color: #709fb3;
}

.pic-block {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 1200px;
	height: 350px;
	background-image: url(main_img.jpg);
	position: relative;

	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.pic-block-text {
	top: -115px;
	right: 0px;
	font-size: 110px;
	position: relative;
	color: aliceblue;
}

.form-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

	width: 1200px;
	height: auto;
}

.form-block .left {
	width: auto;
	max-width: 48%;
}

.form-block .right {
	width: 50%;
	margin-top: 20px;
}

#form-place {
	margin: 20px 0;
}

#upload-btn-place {
	background-color: #a1c2d5;
	color: #f9f9f9;
	border-radius: 0;
	cursor: pointer;
	text-align: center;
	font-size: 2rem;
	margin-top: 20px;

	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

label {
	cursor: pointer;
	line-height: 26px;
	font-size: 1rem;
}

.select-files-bth {
	font-size: 3rem;
	padding: 50px 0;
}

#upload-photo {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.one-res-file {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	height: 180px;
	padding: 10px 0;
	border-bottom: 1px solid gainsboro;
}

.one-res-file:last-child {
	border: none;
}

.one-res-file .img {
	width: 250px;
	height: 180px;
}

.one-res-file .img img {
	max-width: 250px;
	max-height: 180px;
	width: auto;
	height: auto;
}

.one-res-file .info {
	font-size: 1rem;
	line-height: 1rem;
	margin: 10px;
}

/* docs page */

.api-block {
	margin: 60px 0;
	width: 1000px;
}

.api-block .title {
	background-color: #709fb3;
	color: #fbfbfb;
	padding-top: 2px;
	border-radius: 14px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px -40px 15px -40px;
	font-size: 1.2rem;
}
